.main-footer {
  margin: 0 var(--gap-medium);
}

.main-footer > .simple-subtitle {
  font-family: 'Helvetica', sans-serif;
  margin-bottom: var(--gap-smaller);
}

.main-footer ul {
  display: flex;
}

.main-footer ul li {
  padding-right: 10px;
}

